@font-face {
  font-family: Tarot;
  src: url("./Tarot.otf") format("opentype");
}

@font-face {
  font-family: Kallisa;
  src: url("./Kallisa.ttf") format("truetype");
}


body {
  margin: 0;
  padding: 0;
  background-image: url('./background.jpg');
}

h1{
  font-family: 'Kallisa';
  font-size: 3em;
  font-weight: 300;
}

h2{
  font-family: 'Tarot';
  font-size: 2em;
}